modules = ["web", "python-3.11", "nodejs-20", "nix"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:5000 main:app"]

[workflows]
runButton = "Flask Server"

[[workflows.workflow]]
name = "Flask Server"
author = 39590051

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80
